

Welcome back {{ user.first_name }}

{% if user.rooms.count > 0 %}
<h2> Your Rooms </h2>
    
{% for room in user.rooms.all %} 
    <a href="/room/{{room.id}}/review/">{{ room.name }} </a>
    Active: <span>{{ room.is_active }} </span>
    Last Recorded: <span>{{ room.lastrecorded|date }} </span>
{% endfor %}    
room1 - last recorded ... 2011 10 12 23:56:09
room2 - last recorded ... 2011 09 12 23:01:11


{% else %}
<h2> Setup Rooms <h2>
    
    <pre>
        You can setup multiple rooms on different computers to be monitored in your absence. 
        It's very simple, create a room using the form below, turn on your webcam and leave the page open.
    </pre>
    
    <form name="create_room" method="post" action="/room/">
        <input name="name" type="text"></input>
        <input type="submit"/>
    </form>
{% endif %}